# scripts that are called at very beginning, before repo cloning
init:
    - git config --global core.autocrlf input

# set clone depth, clone entire repository history if not defined
clone_depth: 1

# build version
version: "{build}"

# clone directory
clone_folder: c:\projects\gulp-ice-builder

# NodeJS versions to test
environment:
  matrix:
    - slice2js: "slice2js@3.6.4"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

    - slice2js_version: "slice2js@3.7.1"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

    - slice2js_version: "zeroc-ice/slice2js#3.7"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

install:
    - node --version
    - npm --version
    - npm install %slice2js%

build: off

test_script:
    - npx mocha tests\test.js

notifications:
    - provider: Slack
      auth_token:
          secure: L9I+bbHT46GkooHwElptGZuhEOcoE3D8DQw5nzbqQUQfeEApXHGFiGLwT5gCn36vMjjE3LlpuAGc7mQbH8Dy3YzrK+4058CWN8OKSRtGjeY=
      channel: '#builds'
